h1 {
  padding: 0;
  margin: 0;
}

main {
  width: auto;
  height: auto;
}

ul {
  display: block;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  float: left;
}

li {
  display: block;
  width: 14px;
  height: 14px;
  border: 1px solid black;
  background: lightgrey;
  float: left;
}

.snaked {
  background: yellow;
}

.empty {

}
